/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
/*
Colors used

text Color (dark burgungy): #630000
primary color Light : #EEEBDD
secondary color dark: #D8B6A4
 */
* {

  box-sizing: border-box;
}

body {
  background-color: #EEEBDD;
  color: #630000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  color: #630000;
  font-size: 30px;
  font-weight: 700;
}

p {
  color: #630000;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #630000;

  transition: 02s opacity;
}

/* a:visited {
  color: #EEEBDD;
} */
a:hover, a:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a:active {
  color: #489c79;
}

label {
  margin: 8px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #D8B6A4;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #D8B6A4;
  border-radius: 4px;
}

.main-button {
  border: none;
  font-family: inherit;
  text-decoration: none;
  background-color: #630000;
  color: #EEEBDD;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.main-button:hover, .main-button:focus {
  cursor: pointer;
  opacity: 0.8;
}

button {
  border: none;
  font-family: inherit;
  text-decoration: none;
  background-color: #630000;
  color: #EEEBDD;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: 02s opacity;
  -o-transition: 02s opacity;
  transition: 02s opacity;
}

.button {
  border: none;
  font-family: inherit;
  text-decoration: none;
  background-color: #630000;
  color: #EEEBDD;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: 02s opacity;
  -o-transition: 02s opacity;
  transition: 02s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 5px;
}

.navigation-list__item {
  padding: 5px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__image {
  width: 200px
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.main-navigation {}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.social-media {}

.profile {
  height: auto;
  max-width: 700px;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto 20px auto;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin: 10px;
}

.grid__item {
  background-color: #D8B6A4;
  padding: 5px;
}

.strong {
  font-weight: bold;
  text-decoration: underline;
}

.h1__my-work {
  margin-left: 15px
}

.h1__about-me {
  text-align: center;
  padding: 30px;
}

.center {
  text-align: center;
}

.table__center {
  margin-left: auto;
  margin-right: auto;
}

.contact-info {
  margin: 8px
}

@media all and (max-width: 600px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 600px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto auto;
    grid-row: auto auto;
  }

  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fad507ff;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fad507ff;
  }

  100% {
    fill: #f76414;
  }
}

.sun, .sun-giant {

  animation: 10s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@-webkit-keyframes sun-move {
  from {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }

  to {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
}

@keyframes sun-move {
  from {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }

  to {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
}

.sun-rise {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-name: sun-move;
  animation-name: sun-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
